.contacts
    a.contact(href="tel:+3998954454545")
        i.fas.fa-mobile-alt.contact__icon
        span.contact__text 6337 3125

    a.contact(href="#")
        i.fas.fa-envelope.contact__icon
        span.contact__text info@bisines.co

    a.facebook-icon(href="#")
        i.fab.fa-facebook-f