footer.footer
    .footer__top
        .container
            .footer__title Get in touch
            ul.footer__list
                li.footer__item
                    a.footer__link(href="#" target="blank"): i.fab.fa-facebook-f
                li.footer__item
                    a.footer__link(href="#" target="blank"): i.fab.fa-twitter
                li.footer__item
                    a.footer__link(href="#" target="blank"): i.fab.fa-google-plus-g
                li.footer__item
                    a.footer__link(href="#" target="blank"): i.fab.fa-linkedin-in

            .footer__text Subscribe to our newsletter to stay update with what is new
            form.footer__form(action="#" method="post")
                .footer__fields: input.footer__input(type="email" placeholder="Email Address")
                button.footer__button.button(type="submit") Submit

    .footer__bottom Cssauthor.com © 2014 All Rights Reserved

