section.work
    .container
        include ../mixins/mixins
        +title("Our Work", "We are added our featured works below")

        ul.work__list
            li.work__item.work__item-text
                .work__item-name Project Name
                .work__item-description Facebook marketing
            li.work__item: img.work__image(src="images/work-1.jpg" alt="picture")

            li.work__item.work__item-text
                .work__item-name Project Name
                .work__item-description Landing Page
            li.work__item: img.work__image(src="images/work-2.jpg" alt="picture")

            li.work__item: img.work__image(src="images/work-3.jpg" alt="picture")
            li.work__item.work__item-text
                .work__item-name Project Name
                .work__item-description Landing Page

            li.work__item: img.work__image(src="images/work-4.jpg" alt="picture")
            li.work__item.work__item-text
                .work__item-name Project Name
                .work__item-description Facebook marketing