.approch {
  padding: 50px 0 94px;
  background: #f3f3f3;

  &__list {
    margin: 0;
    padding: 0;
    counter-reset: count;
  }

  &__item {
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(214, 214, 214, 1);
    color: 424242;
    background: #fff;

    &:nth-child(2n) {
      display: flex;
      flex-direction: row-reverse;
      text-align: right;

      .approch__text {
        padding: 70px 90px;

        @media (max-width: 985px) {
          padding: 20px 77px;
        }

        @media (max-width: 650px) {
          display: block;
          width: 100%;
        }
      }

      .approch__image {
        @media (max-width: 650px) {
          display: block;
          margin: auto;
        }
      }

      .approch__step {
        right: auto;
        left: -52px;
      }
    }
  }

  &__image {
    display: inline-block;
    max-width: 340px;
    max-height: 236px;
    position: relative;
    vertical-align: top;

    @media (max-width: 985px) {
      max-width: calc(340px / 1.5);
      max-height: calc(236px / 1.5);
    }

    @media (max-width: 650px) {
      display: block;
      margin: auto;
    }
  }

  &__picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__text {
    display: inline-block;
    vertical-align: top;
    width: 64%;
    padding: 70px 70px 55px 90px;
    font-size: 0.875rem;

    @media (max-width: 985px) {
      padding: 20px 77px;
      vertical-align: baseline;
    }
    @media (max-width: 650px) {
      width: 100%;
      text-align: center;
    }
  }

  &__step {
    @include centerer-y;

    right: -58px;
    width: 103px;
    height: 103px;
    padding-top: 10px;
    border-radius: 5px;
    border: 2px solid #fff;
    text-align: center;
    font-size: 1.25rem;
    background: #de2b24;
    color: #fff;

    @media (max-width: 650px) {
      display: none;
    }

    &::before {
      content: counter(count);
      counter-increment: count;
      display: block;
      font-family: $ff-steps;
      font-size: 3rem;
      line-height: 1;

      @media (max-width: 650px) {
        font-size: 1.5rem;
      }
    }
  }
  &__title {
    margin-bottom: 6px;
    font-size: 1.125rem;
    font-family: $ff-main-bold;
  }

  &__description {
    margin: 0;
    line-height: 1.7;
  }
}



@media (max-width: 650px) {
  .approch__item:nth-child(2n) {
    display: block;
    
    .approch__text {
      text-align: center;
    }
  }

  .approch__item {
    padding: 20px 0;
  }
}