.footer {

  &__top {
    padding: 50px 0 83px;
    text-align: center;
    background: #2a2a2a;
    color: #cecece;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 1.8125rem;
    color: #fff;
    font-family: $ff-main-bold;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 35px;
  }

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 20px;
    }
  }

  &__link {
    display: inline-block;
    height: 45px;
    width: 45px;
    line-height: 45px;
    border: 2px solid #515151;
    border-radius: 3px;
    font-size: 1.2rem;
    color: #fff;
    transition: 0.3s;

    &:hover {
      border-color: #de2b24;
    }
  }

  &__text {
    margin-bottom: 33px;
    font-size: 0.875rem;
  }

  &__fields {
    width: 67%;
    margin: 0 auto 27px;
  }
  
  &__input {
    width: 100%;
    padding: 20px;
    font-size: 0.875rem;
    color: #cecece;
    background: #515151;
    border: none;
  }
  
  &__button {
    border: 2px solid #515151;
    padding: 15px 37px;
    box-sizing: border-box;
    font-size: 1.0625rem;
    font-family: $ff-main-bold;
    background: none;
    color: #fff;
    transition: 0.3s;

    &:hover {
      border-color: #de2b24;
    }
  }

  &__bottom {
    font-size: 0.875rem;
    padding: 25px 0 27px;
    background: #515151;
    color: #cecece;
    text-align: center;
  }
}