.form-section {
  padding: 50px 0 110px;
  background: #1287bf;
  color: #fff;
  .title {
    color: #fff;
    margin: 15px;
    line-height: 2;

    &--width-bottom-line{
      &::after {
        display: none;
      }
    }
  }

  .btn-down {
    position: relative;
    margin: auto auto 20px;
    width: 65px;
    height: 65px;
    border: 3px solid #fff;
    border-radius: 50%;
  }

  .arrow-down {
    @include centerer-xy();

    .fas {
      font-size: 2rem;
    }
  }
}



.form {
  position: relative;
  width: 67%;
  text-align: center;
  margin: auto;
  padding: 50px 50px 66px 50px;
  border-radius: 3px;
  color: #828282;
  background: #fff;

  &-container {
    padding-top: 30px;
    position: relative;

    &:before {
      @include centerer-x();

      content: '';
      border: 30px solid transparent;
      border-bottom: 30px solid #fff;
      top: -30px;
    }
  }

  &__close-button {
    position: absolute;
    right: -16px;
    top: -22px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    background: #de2b24;
    transition: 0.3s;
    text-transform: uppercase;

    &:hover {
      background: lighten(#de2b24, 10%);
    }
  }

  &__text {
    margin-bottom: 33px;
    font-size: 0.9375rem;
    line-height: 1.5;
  }

  &__fields {
    margin-bottom: 33px;
  }

  &__input {
    width: 76%;
    display: block;
    margin: auto auto 8px auto;
    padding: 18px 20px;
    border: 1px solid #f8f8f8;
    border-radius: 3px;
    font-size: 0.875rem;

    &:focus {
      box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);
    }
  }

  .button {
    padding: 15px 30px;
  }
}