.hero {
  min-height: 59px;
  text-align: center;
  padding: 175px 0;
  color: #fff;
  background: #ccc url('../../images/hero-bg.jpg') center/cover no-repeat;

  &__about {
    font-family: $ff-main-bold;
    font-size: 3rem;
    line-height: 1;
    text-transform: capitalize;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 27px;
    font-family: $ff-main-light;
  }

  .button--uppercase {
    padding: 21px 41px;
    font-size: 1.5rem;
    font-family: $ff-main-bold;
    border-radius: 8px;
    letter-spacing: 0.5px;
  }
}