.work {
  padding: 110px 0 120px;
  background: #de2b24;
  .title {
    color: #fff;
    &::after {
      background: #fff;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  &__item {
    width: 256px;
    height: 256px;
    color: #fff;
    background: #f35e59;
    font-family: $ff-main-bold;
    cursor: default;

    &-text {
      position: relative;
      padding: 130px 40px 75px 40px;
      text-align: center;

      &::before {
        @include sprite($work-item);
        @include centerer-x();

        content: '';
        top: 74px;
      }
    }
    &-name {
      font-size: 1.625rem;
    }

    &-descripton {
      font-size: 1rem;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
  }
}