@font-face {
  font-family: 'HelveticaNeueCyr-bold';
  src: url('../../fonts/HelveticaNeueCyr-Bold.eot');
  src: url('../../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
  url('../../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('../../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia-bold';
  src: url('../../fonts/Georgia-Bold.eot');
  src: url('../../fonts/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Georgia-Bold.woff2') format('woff2'),
  url('../../fonts/Georgia-Bold.woff') format('woff'),
  url('../../fonts/Georgia-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-regular';
  src: url('../../fonts/HelveticaNeueCyr-Roman.eot');
  src: url('../../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
  url('../../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('../../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-light';
  src: url('../../fonts/HelveticaNeueCyr-Thin.eot');
  src: url('../../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
  url('../../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
  url('../../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome-regular';
  src: url('../../fonts/FontAwesome.eot');
  src: url('../../fonts/FontAwesome.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/FontAwesome.woff2') format('woff2'),
  url('../../fonts/FontAwesome.woff') format('woff'),
  url('../../fonts/FontAwesome.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


