@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/normalize.scss/normalize";

@import "global/fonts";
@import "global/vars";
@import "global/mixin";
@import "global/base";
@import "global/common";
@import "global/sprite";
@import "global/icons";
@import "global/button";

@import "global/mixins-pug";
@import "sections/header";
@import "sections/nav";
@import "sections/hero";
@import "sections/about";
@import "sections/approch";
@import "sections/work";
@import "sections/formSection";
@import "sections/footer";
